{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2 class="px-1">Wiki</h2>
                <form class="form" action="/wiki/search" method="POST">
                    {% csrf_token %}

                    <div class="input-group px-1">
                        <input class="form-control search" type="text" name="q" value="{{ request.POST.q }}" placeholder="Search Encyclopedia" oninput="this.form.submit()">
                    </div>
                </form>

                {% if autofocus %}
                    <script>
                        (function moveCursorToEnd() {
                            let searchInput = document.querySelector('input.search');
                            searchInput.selectionStart = searchInput.selectionEnd = searchInput.value.length;
                            searchInput.focus();
                        })()
                    </script>
                {% endif %}
                
                <nav class="nav flex-column">
                    <a class="nav-link p-1" href="{% url 'index' %}">Home</a>
                    <a class="nav-link p-1" href="{% url 'wiki_new_entry' %}">
                        Create New Page
                    </a>
                    <a class="nav-link p-1" href="{% url 'random_entry' %}">
                        Random Page
                    </a>
                </nav>
                
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>